#hero {
    max-width: 80rem;
    width: 100%;
    padding: 2.5rem 2rem;
    margin-inline: auto;

& h1 {
max-width: 40rem;
}


& h1 div {
display: inline-block;
overflow: hidden;
height: 5rem;
width: min-content;
vertical-align: bottom;
}

h1 span:nth-child(1), span:nth-child(4) {
    color: var(--snitap-sky-mid);
}
h1 span:nth-child(2) {
    color: var(--snitap-joy-mid);
}
h1 span:nth-child(3) {
    color: var(--snitap-leaf-mid);
}

& h1 span {
    display: block;
    animation: slideUp 6s infinite ease;
}

}

@keyframes slideUp {
0%, 22% {
    transform: translateY(0);
}

/* divertida in */

23% {
    transform: translateY(calc(-5rem - 15px));
}

25% {
    transform: translateY(calc(-5rem + 10px));
}

27% {
    transform: translateY(calc(-5rem - 5px));
}

29% {
    transform: translateY(calc(-5rem + 5px));
}

/* divertida static */

    33%, 55% {
        transform: translateY(-5rem);
    }

/*saudável in */

56% {
    transform: translateY(calc(-10rem - 15px));
}

58% {
    transform: translateY(calc(-10rem + 10px));
}

60% {
    transform: translateY(calc(-10rem - 5px));
}

62% {
    transform: translateY(calc(-10rem + 5px));
}

/*saudável static */

    66%, 88% {
        transform: translateY(-10rem);
    }

/* radical in */

89% {
    transform: translateY(calc(-15rem - 15px));
}

91% {
    transform: translateY(calc(-15rem + 10px));
}

93% {
    transform: translateY(calc(-15rem - 5px));
}

95% {
    transform: translateY(calc(-15rem + 5px));
}

/* radical static */

    100% {
        transform: translateY(-15rem);
    }
}